html, body {
  background-color: bisque;
  color: #555;
  font-family: Helvetica;
  font-size: 18px;
  margin: 0;

}

main {
  margin: 3rem auto;
  max-width: 90vw;
  width: 50ch;
}

h1 {
  color: #333;
}